{%extends 'base.html' %}
    {% block title %}Home{% endblock %}
{% block content%}
        <section id="admin_section">
            <fieldset id="field_users">
                <legend>Administrative Dashboard</legend>
                <ul class="users_listed" >
                {% for user in users %}
                        <li>
                            <div id="user_desc">{{ user }} <img src={{url_for('auth.get_avatar', email = user.email)}} alt='user_avatar' id="avatar_image"></div>
                            <div id='user_buttons'>
                            {% if current_user.member_type != 'member'%}
                                <div>{{user.member_type}}</div>
                            {% endif %}
                            {% if (current_user.member_type == 'admin' and (user.member_type == 'admin' or user.member_type == 'member' or user.member_type == 'blocked')) or current_user.member_type != 'admin'%}
                                {% if current_user.member_type != 'member'%}
                                    <form method="GET" class="options_admin" action="{{url_for('users.promote_user', email=user.email)}}">
                                        <button type="submit">To admin</button>
                                    </form>
                                    <form method="GET" class="options_admin" action="{{url_for('users.demote_user', email=user.email)}}">
                                        <button type="submit">To member</button>
                                    </form>
                                    <form method="GET" class="options_admin" action="{{url_for('users.block_user', email=user.email)}}">
                                        <button type="submit">Block</button>
                                    </form>
                                {% endif %}
                                {% if (current_user.member_type == 'member' and user.email == current_user.email) or current_user.member_type != 'member' %}
                                <form method="GET" class="options_admin" action="{{url_for('users.delete_user', email=user.email)}}">
                                    <button type="submit">Delete</button>
                                </form>
                                <form method="GET" class="options_admin" action="{{url_for('users.edit_user', email=user.email)}}">
                                    <button type="submit">Edit</button>
                                </form>
                                {% endif %}
                                {% if current_user.member_type == 'super_admin' %}
                                    <form method="GET" class="options_admin" action="{{url_for('users.promote_super_user', email=user.email)}}">
                                        <button type="submit">To super</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                            </div>
                        </li>
                    <br>
                {% endfor %}
                </ul>
            </fieldset>
        </section>    
{% endblock %}
