{%extends 'base.html' %}
    {% block title %}Home{% endblock %}
{% block content%}
        <section id="admin_section">
            <fieldset id="field_users">
                <legend>Administrative Dashboard</legend>
                {% for user in users %}
                    <ul class="users_listed" >
                        <li>
                            {{ user }} <img src={{url_for('auth.get_avatar', email = user.email)}} alt='user_avatar' id="avatar_image">
                            {% if current_user.member_type == 'admin' or current_user.member_type == 'super_admin'%}
                            <form method="GET" action="{{ url_for('dashboard.promote', email = user.email) }}">
                                <button type='submit'>Promote</button>
                            </form>
                            <form method="GET" action="{{ url_for('dashboard.demote', email = user.email) }}">
                                <button type='submit'>Demote</button>
                            </form>
                            {% endif %}
                        </li>
                    </ul>
                    <br>
                {% endfor %}
            </fieldset>
        </section>    
{% endblock %}
