<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {%block title%}
            {%endblock%}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="nav_bar">
            {% if not current_user.is_authenticated %}
            <a class="active" href={{url_for('home.login_index')}}>Log In</a>
            {% endif %}
            <a href={{url_for('competency.show_competencies')}}>Competencies</a>
            <a href={{url_for('domains.show_domains')}}>Domains</a>
            <a href={{url_for('courses_elements.list_courses_elements')}}>Course Elements</a>
            <a href={{url_for('term.show_terms')}}>Terms</a>
            <a href={{url_for('courses.list_courses')}}>Courses</a>
            <a href={{url_for('search.show_search')}}>Search</a>
            {% if current_user.is_authenticated %}
                <a href={{url_for('users.get_users')}}>Dashboard</a>
            {% endif %}
            <p id="web_name">Dawson College Database Manager</p>
        </div> 
        {% if current_user.is_authenticated %}
        <div id="out_link"><a href={{url_for('auth.logout')}}>Log out</a><div>
        <h2 id="user_name">Connected: {{current_user.name}}</h2>
        {% endif %}
        {% block content%}
        {% endblock%}
        <section id="flash_messages">
            {% for message in get_flashed_messages() %}
                <div class="flash"> {{message}} </div>
            {% endfor %}
        </section>
    </body>
</html>
