<!DOCTYPE html>
<html>
    <head>
        <title>
            {%block title%}
            {%endblock%}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {% block content%}

        {% endblock%}
        <section id="flash_messages">
            {% for message in get_flashed_messages() %}
                <div class="flash"> {{message}} </div>
            {% endfor %}
        </section>
    </body>
</html>
