{%extends 'base.html' %}
    {% block title %}Password Change{% endblock %}
{% block content%}
        <section>
            <h1 id='title_edit'>Password Change</h1>
            <fieldset id="field_pwd">
                <form method="POST" id="field_users_p">
                    {{ form.csrf_token }}
                    {{ form.password.label }} {{ form.password }}
                    <input class="submit" type="submit" />
                </form>
            </fieldset>
        </section>    
{% endblock %}