{% extends "base.html" %}

{% block header %}{{competency.competency}}{% endblock %}

{% block content %}
    <ul>
        <li><b>Id:</b> {{competency.id}}</li>
        <li><b>Name:</b> {{competency.competency}}</li>
        <li><b>Achievements:</b></li>
        <li>
            <ul>
                {% for achievement in achievements %}
                <li>{{achievement}}</li>
                {% endfor %}
            </ul>
        </li>
        <li><b>Type:</b> {{competency.competency_type}}</li>
    </ul>
    <h2>Elements: </h2>
    <ol>
        {% for element in elements %}
        <li><a href="{{url_for('element.show_element', element_id = element.element_id)}}">(id: {{element.element_id}}) {{element.element_order}} {{element.element}} {{element.element_criteria}}</a> <a href="{{url_for('competency.delete_competency_element', competency_id = competency.id, element_id = element.element_id)}}">Delete</a></li>
        {% endfor %}
    </ol>
    <h3>Add Competency</h3>
    <form method="post">
        {{competency_form.csrf_token}}
        {{competency_form.competency.label}} {{competency_form.competency()}}
        {{competency_form.competency_achievement.label}} {{competency_form.competency_achievement()}}
        {{competency_form.competency_type.label}} {{competency_form.competency_type()}}
        <input type="submit"/>
    </form>

    <form method="post">
        {{element_form.csrf_token}}
        {{element_form.element.label}} {{element_form.element()}}
        {{element_form.element_criteria.label}} {{element_form.element_criteria()}}
        <input type="submit"/>
    </form>

    <a href="{{url_for('competency.delete_competency', id = competency.id)}}">Delete this competency</a>
{% endblock %}