{% extends "base.html" %}

{% block header %}{{competency.competency}}{% endblock %}

{% block content %}
    <h1>Competency</h1>
    <ul>
        <li><b>Id:</b> {{competency.id}}</li>
        <li><b>Name:</b> {{competency.competency}}</li>
        <li><b>Achievements:</b>
            <ul>
                {% for achievement in achievements %}
                <li>{{achievement}}</li>
                {% endfor %}
            </ul>
        </li>
        <li><b>Type:</b> {{competency.competency_type}}</li>
    </ul>
    <h2>Elements: </h2>
    <ul>
        {% for element in elements %}
        <li><a href="{{url_for('element.show_element', element_id = element.element_id)}}">{{element.element_order}} {{element.element}}</a> </li>
        {% endfor %}
    </ul>
    <h1>Update Competency</h1>
    <form method="post">
        {{competency_form.csrf_token}}
        {{competency_form.competency.label}} {{competency_form.competency()}}
        {{competency_form.competency_achievement.label}} {{competency_form.competency_achievement()}}
        {{competency_form.competency_type.label}} {{competency_form.competency_type()}}
        <input class="submit" type="submit"/>
    </form>
    <h1>Add Element</h1>
    <form method="post">
        {{element_form.csrf_token}}
        {{element_form.element.label}} {{element_form.element()}}
        {{element_form.element_criteria.label}} {{element_form.element_criteria()}}
        <input class="submit" type="submit"/>
    </form>

    <a class="delete_button" href="{{url_for('competency.delete_competency', id = competency.id)}}">Delete</a>
{% endblock %}