{% extends "base.html" %}

{% block header %}{{competency.competency}}{% endblock %}

{% block content %}
    <ul>
        <li><b>Id:</b> {{competency.id}}</li>
        <li><b>Name:</b> {{competency.competency}}</li>
        <li><b>Achievements:</b></li>
        <li>
            <ul>
                {% for achievement in achievements %}
                <li>{{achievement}}</li>
                {% endfor %}
            </ul>
        </li>
        <li><b>Type:</b> {{competency.competency_type}}</li>
    </ul>
    <h2>Elements: </h2>
    <ol>
        {% for element in elements %}
        <li><a href="{{url_for('element.show_element', element_id = element.element_id)}}">{{element}}</a></li>
        {% endfor %}
    </ol>
    <h1>Add Competency</h1>
    <form method="post">
        {{form.csrf_token}}
        {{form.id.label}} {{form.id()}}
        {{form.competency.label}} {{form.competency()}}
        {{form.competency_achievement.label}} {{form.competency_achievement()}}
        {{form.competency_type.label}} {{form.competency_type()}}
        <input class="submit" type="submit"/>
    </form>
{% endblock %}