{%extends 'base.html' %}
{% block title %}
Courses Elements
{% endblock title%}
{% block header %}
Courses Elements
{% endblock header %}

{% block content %}
    <section id = "courses_element_block">
        <ul>
            {% for courses_element in courses_elements%}
                <li>{{ courses_element | safe}}</li>
            {% endfor %}
        </ul>
    </section>

    <section id = "Courses_element_form">
        <form method = "post">
            {{form.csrf_token}}
            {{form.course_id.label}}{{form.course_id()}}
            {{form.element_id.label}}{{form.element_id()}}
            {{form.hours.label}}{{form.hours()}}
            <input type = "submit"
        </form>
    </section>
{% endblock content %}
