{%extends 'base.html' %}
{% block title %}
Courses Elements
{% endblock title%}
{% block header %}
Courses Elements
{% endblock header %}

{% block content %}
    <section id = "courses_element_block">
        <h1>Course Elements</h1>
        <ul>
            {% for course in courses%}
                <li><a href="{{url_for('courses.find_course', the_id = course[0].course_id)}}">{{course[0].course_id}} </a>Total Hours: {{course[1]}}
                    <ul>
                        {%for course_element in courses_elements%}
                            {% if course_element[0] == course[0].course_id%}
                                <li><a href="{{url_for('element.show_element', element_id = course_element[2].element_id)}}">&#40;Id:{{course_element[2].element_id}}&#41; {{course_element[2].element}}</a> <a href="{{url_for('competency.show_competency', id = course_element[2].competency_id)}}">{{course_element[2].competency_id}}</a> {{course_element[1]}} hours</li>
                            {% endif%}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id = "Courses_element_form">
        <h1>Add Course Element</h1>
        <form method = "post">
            {{form.csrf_token}}
            {{form.course_id.label}}{{form.course_id()}}
            {{form.element_id.label}}{{form.element_id()}}
            {{form.hours.label}}{{form.hours()}}
            <input class="submit" type = "submit"/>
        </form>
    </section>
{% endblock content %}
