{%extends 'base.html' %}
{% block title %}
Courses Elements
{% endblock title%}
{% block header %}
Courses Elements
{% endblock header %}

{% block contentnotlogedin %}
    <section id = "courses_element_block">
        <a href="{{url_for('courses_elements.list_courses_elements', page=1, page_size=999)}}">Load All</a> - 
        {% if page > 1 or page_size == 999%}
            <a href="{{url_for('courses_elements.list_courses_elements', page = page-1)}}">Previous Page</a> -
        {% endif %}
        <a href="{{url_for('courses_elements.list_courses_elements', page = page+1)}}">Next Page</a>
        <h1>Course Elements</h1>
        <ul>
            {% for course_id in course_ids%}
                <li><a href="{{url_for('courses.find_course', the_id = course_id)}}">{{course_id}} </a>
                    <ul>
                        {%for element in courses_elements%}
                            {% if element.course_id == course_id%}
                                <li><a href="{{url_for('element.show_element', element_id = element.element_id)}}">&#40;Id:{{element.element_id}}&#41; {{element.element.element}}</a> <a href="{{url_for('competency.show_competency', id = element.element.competency_id)}}">&#40;{{element.element.competency_id}}&#41;</a> {{element.hours}} hours</li>
                            {% endif%}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{%endblock%}
{%block content%}
    <section id = "Courses_element_form">
        <h1>Add Course Element</h1>
        <form method = "post">
            {{form.csrf_token}}
            {{form.course_id.label}}{{form.course_id()}}
            {{form.element_id.label}}{{form.element_id()}}
            {{form.hours.label}}{{form.hours()}}
            <input class="submit" type = "submit"/>
        </form>
    </section>
{% endblock content %}
