{%extends 'base.html' %}
    {% block title %}Domains{% endblock %}
{% block content%}
        <h1>Domain List</h1>
        <ul>
            {% for domain in domains %}
              <li>{{ domain }}</li><br>
            {% endfor %}
        </ul>
        <section>
            <fieldset>
                <legend>Insert a domain</legend>
                <form method="post">
                    {{ form.csrf_token }} 
                    <p>{{ form.id.label }} {{form.id(size=4)}}</p>
                    <p>{{ form.domain.label }} {{form.domain(size=20)}}</p>
                    <p>{{ form.description.label }} {{form.description(size=50)}}</p>
                    <input type="submit" />
                </form>
            </fieldset>
        </section>    
{% endblock %}
