{%extends 'base.html' %}
    {% block title %}User Editing{% endblock %}
{% block content%}
        <section id="edit_section">
            <h1 id='title_edit'>User Editing</h1>
            <fieldset id='field_users'>
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.email.label }} {{ form.email() | default(userChosen.email, true)}}
                    {{ form.name.label }} {{ form.password() | default(userChosen.password, true)}}
                    {{ form.avatar_path.label }} {{ form.avatar_path() | default(userChosen.avatar_path, true)}}
                    <input class="submit" type="submit" />
                </form>
            </fieldset>
        </section>    
{% endblock %}
