{% extends "base.html" %}

{% block header %}Element Information{% endblock %}

{% block contentnotlogedin %}
    <section id= "element_info">
        <h1>Element</h1>
        <ul>
            <li><b>Element order:</b> {{element.element_order}}</li>
            <li><b>Element:</b> {{element.element}}</li>
            <li><b>Element criteria:</b> {{element.element_criteria}}</li>
            <li><a href="{{url_for('competency.show_competency', id = element.competency_id)}}"><b>Competency ID:</b> {{element.competency_id}}</a></li>
        </ul>
    </section>
{%endblock%}
{%block content%}
    <h1>Edit Element</h1>
    <section clas = "element_form">
        <form method="post">
            {{form.csrf_token}}
            {{form.element.label}} {{form.element()}}
            {{form.element_criteria.label}} {{form.element_criteria()}}
            <input class="submit" type="submit"/>
        </form>
        <a href="{{url_for('element.delete_element', element_id = element.element_id)}}">Delete</a>
    </section>
    
{% endblock %}