{%extends 'base.html' %}
    {% block title %}Home{% endblock %}
{% block content%}
        <div id="nav_bar">
            <a class="active" href={{url_for('home.index')}}>Home</a>
            <a href={{url_for('competency.show_competencies')}}>Competencies</a>
            <a href={{url_for('domain_views.get_domains')}}>Domains</a>
            <a href={{url_for('term.show_terms')}}>Course Elements</a>
            <a href={{url_for('term.show_terms')}}>Terms</a>
            <a href={{url_for('home.index')}}>Elements</a>
            <p id="web_name">Dawson College Database Manager</p>
        </div> 
        <section>
        </section>    
{% endblock %}
