{%extends 'base.html' %}
    {% block title %}Home{% endblock %}
{% block content%}
        <div id="nav_bar">
            <a class="active" href="">Home</a>
            <a href="">Competencies</a>
            <a href="">Domains</a>
            <a href="">Course Elements</a>
            <a href="">Terms</a>
            <a href="">Elements</a>
            <a href="">Elements</a>
            <p id="web_name">Dawson College Database Manager</p>
        </div> 
        <section>
        </section>    
{% endblock %}
