{%extends 'base.html' %}
    {% block title %}Sign Up{% endblock %}
{% block content%}
        <h1>Sign up</h1>
        <section>
            <fieldset>
                <legend>Insert your information</legend>
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ form.email.label }} {{ form.email() }}
                    {{ form.password.label }} {{ form.password() }}
                    {{ form.name.label }} {{ form.name() }}
                    {{ form.avatar.label }} {{ form.avatar() }}
                    <input class="submit" type="submit" />
                </form>
            </fieldset>
        </section>    
{% endblock %}
