{% extends "base.html" %}

{% block header %}{{term.id}}{% endblock %}

{% block content %}
    <h1>Term {{term.id}}</h1>
    <ul>
        <li><b>Semester:</b> {{term.name}}</li>
        <li><b>Courses:</b></li>
        <li>
            <ul>
                {% for course in courses %}
                    <li><a href="{{url_for('courses.find_course', the_id = course.course_id)}}">{{course.course_id}}</a></li>
                {% endfor %}
            </ul>
        </li>
    <ul>
    <form method="post">
        {{form.csrf_token}}
        {{form.name.label}} {{form.name()}}
        <input type="submit"/>
    </form>
    <!--list the courses here-->
{% endblock %}