@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body {
    background-color: rgb(33, 42, 122);
    color: white;
    font-family: 'DM Serif Text', serif;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 40px;
    width:30%;
}

label {
    color: rgb(154, 219, 200);
    font-weight: 600;
    font-size: 1.2em;
}

b {
    color: rgb(154, 219, 200);
}

.submit {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(41, 0, 87);
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    font-family: 'DM Serif Text', serif;
}

li {
    margin-left: 40px;
    padding: 3px;
}

h1, h2 {
    font-family: "Lucida Console";
    padding: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

a:link {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(54, 180, 180);
}

a:visited {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(54, 180, 180);
}

a:hover {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    color: aliceblue;
}

a:active {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    color: aliceblue;
}

#alert404 {
    background-color: rgb(11, 11, 70);
    color:rgb(154, 243, 213);
    font-size:300px;
    text-align:center;
    font-family: 'Lucida Sans';
}

#txt404 {
    font-size:30px;
    text-align:center;
    color:rgb(11, 11, 70);
}

#body404 {
    background-color: aliceblue;
}

#description {
    height:100px;
}

#account_yet {
    display: inline-block;
}

#login_section {
    text-align: center;
    margin: auto;
    margin-top: 60px;
    width: 500px;
}

#login_section fieldset {
    border-radius: 10px;
}

#login_section fieldset form {
    width:85%;
}

#login_section fieldset input {
    margin-top: 10px;
    display: inline-block;
}

#signup_section {
    text-align: center;
    margin-top: 40px;
    width: 500px;
    margin: auto;
}

#signup_section fieldset {
    border-radius: 10px;
}

#signup_section fieldset form {
    width:85%;
}

#signup_section fieldset label, #signup_section fieldset input {
    font-family: 'DM Serif Text', serif;
    margin-top: 20px;
}

legend {
    font-family: 'DM Serif Text', serif;
    font-style: italic;
}

#user_name {
    margin: 10px;
    text-align: right;
    font-size: 20px;
}

.flash {
    margin: 10px;
}

#out_sent {
    margin: 10px;
}

#nav_bar {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}