body {
    background-color: rgb(226, 195, 255);
    color: rgb(15, 7, 128);
}

#course_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#course_form input {
    width: 20%;
}

#course_form label {
    color:rgb(15, 7, 128);
    font-weight: 600;
}

ul {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: "Lucida Console";
    
}